<div class="d-flex flex-column align-items-center justify-content-center" style="height: 80vh;">
  <div class="container-img text-center">
    <img src="api.png" alt="API" style="width: 80%;"/>
  </div>
  <div class="text-center">
    <h1 class="display-5 fw-bold">Cadastro de Marcas</h1>
    <p class="cold-mb-4">
      Boas-vindas à API de Cadastro de Marca. Nossa API permite que você
      gerencie suas marcas de maneira eficiente e fácil de integrar.
    </p>
    <div class="d-flex gap-3 justify-content-center">
      <button
        type="button"
        class="btn btn-outline-dark btn-lg"
        (click)="definicaoCrud()"
      >
        O que é CRUD !!
      </button>
      <button
        class="btn btn-outline-dark btn-lg"
        type="button"
        (click)="navegateCadastro()"
      >
        Vamos começar?!
      </button>
    </div>
  </div>
</div>
